@import "tailwindcss";

@theme {
  /* ===== Primary Brand ===== */
  --color-primary-50: #FCF8F1;
  --color-primary-100: #F8EEDC;
  --color-primary-200: #EFDDB6;
  --color-primary-300: #E3C584;
  --color-primary-400: #C89A4A;
  --color-primary-500: #A1712A;
  --color-primary-600: #8C6123;
  --color-primary-700: #75501D;
  --color-primary-800: #644E30;
  --color-primary-900: #4D3B24;

  /* ===== Background ===== */
  --color-background: #F6F5F3;
  --color-surface: #FFFFFF;
  --color-section: #F2ECE5;
  --color-card: #FFFFFF;

  /* ===== Text ===== */
  --color-heading: #191E25;
  --color-body: #31353D;
  --color-muted: #65625B;

  /* ===== Borders ===== */
  --color-border: #E8E2D9;
  --color-border-dark: #D2C7B6;

  /* ===== Neutral ===== */
  --color-beige: #C6B6A0;
  --color-soft-beige: #E6DDD2;
  --color-light-beige: #FBF8F4;

  /* ===== Footer ===== */
  --color-footer: #1A1E25;
  --color-footer-light: #252A33;

  /* ===== States ===== */
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;


  --shadow-card: 0 10px 30px rgba(0,0,0,.08);
  --shadow-soft: 0 4px 20px rgba(0,0,0,.06);
  --shadow-search: 0 15px 40px rgba(0,0,0,.12);

  --radius-card: 20px;
  --radius-button: 999px;



}